@model Cinema.Management.System.ViewModels.MovieViewModel


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <style>
        #background {
            background-image: url(https://www.arttablo.com/upload/U-sinema-salonu-fotograf-kanvas-tablo1461331435-800.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>

<body>

    @await Html.PartialAsync("_navbar")

    <!-- PARTIAL VIEW ILE YAPARSAK -->
    <!--<partial name="_navbar" /> -->

    <h2 class="fw-bold text-capitalize text-center bg-white mt-5"><strong>@Model.movie.movieName</strong></h2>
    <!-- AFİŞ VE FRAGMAN -->
    <!-- ROW 2 COLUMN'A BÖLÜNÜYOR -->
    <div class="row mt-5" id="background">

        <!-- FOTO BÖLÜMÜ -->
        <div class="col-md-5 col-lg-4 col-xl-3 mx-auto my-4 text-center ">
            <img class="ms-5 border border-5 rounded img-fluid" src=@Model.movie.moviePhotoUrl alt="" width="255px">
        </div>

        <!-- FRAGMAN BÖLÜMÜ -->
        <!-- RESPONSIVE YAPAMADIM FRAGMANI,çok az bi OVERFLOW OLUYO EKRANI KÜÇÜLTÜNCE -->
        <div class="col-md-7 col-lg-8 col-xl-9 mx-auto my-auto text-center ">
            <iframe class="border border-5 rounded" width="560" height="315" src=@Model.movie.movieTrailerUrl
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <!-- ROW 2 COLUMN'A BÖLÜNÜYOR -->
    <!-- AFİŞ VE FRAGMAN -->
    <!-- FİLM INFO -->
    <section class="filmInfo mt-5">
        <div class="container">
            <h2 class="text-center">@Model.movie.movieName</h2>
            <p> <strong>Director: </strong> @Model.movie.movieDirector.directorFirstName
                @Model.movie.movieDirector.directorLastName</p>
            <p>
                <strong>Cast: </strong>
                @foreach (var actor in Model.actors)
                {
                    @if (actor.movieId == Model.movie.movieId)
                    {
                        @actor.actorFirstName@:&nbsp;@actor.actorLastName,

                    }
                }

            </p>
            <div class="row">
                <div class="col-3">
                    <div><strong>Release Date:</strong> @Model.movie.movieReleaseDate</div>
                    <div><strong>Duration:</strong> @Model.movie.movieDuration Minutes</div>
                    <div><strong>Category:</strong> @Model.movie.movieCategory</div>


                </div>
                <div class="col-9">
                    <div>
                        <strong>Summary: </strong>@Model.movie.movieSummary
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                @* <a class="btn-lg btn-dark mb-4" style="text-decoration: none;" asp asp-controller="MainPage"
                    asp-action="AddToWatchList" asp-route-id="@Model.movie.movieId">Add To WatchList</a> *@

                <form action="/MainPage/AddToWatchList">
                    <input name="MovieId" action="/MainPage/AddToWatchList" class="form-control" type="number"
                        placeholder="MovieId" value="@Model.movie.movieId" hidden />

                    <button class="btn btn-primary btn-sm mr-2 mt-5" type="submit">Add To WatchList</button>
                </form>

            </div>
            @if (@TempData["MovieWatcedError"] != null)
            {
                <span style="color: red; border: 2px solid red; padding:5px ; border-radius :3px;">
                    <strong>@TempData["MovieWatcedError"]</strong>
                </span>

            }


        </div>
    </section>

    <br><br>
    <hr style="border: 3px solid black;">
    <br><br>

    <!-- FİLM VİZYONDAYSA BİLET AL -->
    <!-- BUY TICKET -->
    @if (Model.movie.isShowing)
    {
        <div class="container">
            <h2 class="text-center">Watch Now!</h2>
            <div class="btn-lg col-md-12 text-center">
                <a class="btn-lg btn-dark mb-4" style="text-decoration: none;" asp asp-controller="TicketPage"
                asp-action="ChooseSession" asp-route-id="@Model.movie.movieId">Buy Ticket</a>

            </div>
        </div>

        <br><br>
        <hr style="border: 3px solid black;">
        <br>
    }
    else
    {
        <div class="container">
            <h2 class="text-center pb-3">📆 Not In Show - You can't buy a ticket ❌</h2>
        </div>

        <br>
        <hr style="border: 3px solid black;">
        <br>
    }


    <!-- COMMENTS -->
    <!--MAKE COMMENT -->
    <div id="makeComment" class="container">
        <h2>Add a comment</h2>
        <form method="POST" action="/MainPage/MoviePage/@Model.movie.movieId" id="makeComment">
            <div class="mb-3">
                <textarea style="resize: none;" class="form-control" name="makeComment" id="makeComment" rows="3"
                    placeholder="Your comment..." maxlength="2000" required></textarea>
            </div>
            <div class="container">
                <div class="text-end">
                    <button class="btn-lg btn-dark mb-4" type="submit">Post</button>
                </div>
            </div>
        </form>

    </div>


    <br>

    <!-- READ COMMENTS -->
    <div id="readComment" class="container">
        <h2 class="mb-4">Other comments</h2>

        @foreach (Comment comment in Model.comments)
        {
            <div class="row mb-3">
                <!-- Kullanıcı bilgisi -->
            <div class="col-3 text-center">
                    <i class="fas fa-user-circle fa-5x"></i>
                    <p class="mt-3"><strong>@comment.userFirstName&nbsp;@comment.userLastName</strong></p>
                </div>
                <!-- Yorum içeriği -->
            <div class="col-9">
                    <p>@comment.commentContent</p>
                </div>

                <br>
                <hr style="border: 1px solid black;">
                <br>
            </div>
        }

    </div>

    <br><br>
    <hr style="border: 3px solid black;">
    <br><br>

    @await Html.PartialAsync("_footer")


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>